canvas {
    border-width: 5px;
    border-style: solid;
    border-color: #99F5D2;
    border-style: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
    ;
}

.startButton {
    color: darkgreen;
    font-size: 20px;
    font-family: sans-serif;
    flex-direction: row;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    border-image: initial;
}

h1 {
    font-family: 'Monoton', cursive;
    color: #99F5D2;
    text-align: center;
    font-size: 3.5em;
}

h3 {
    display: inline;
}

h2.time-count {
    color: red;
    display: inline;
    text-align: center;
}

.score {
    color: #99F5D2;
    font-size: 1.1em;
    font-family: 'Monoton', cursive;
    display: block;
}

footer {

    margin-top: auto;
    position: bottom;
    background: transparent;
    color: #99F5D2;
}

.credits {
    position: bottom;
    margin-top: 2em;
    padding-top: 2em;
    text-align-last: left;
    font-size: 12px;
    font-family: 'Montserrat';
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}